@charset "utf-8";
@import "./common.scss";
.detail{
	@include flexbox();
	@include flex-direction(column)
	height: 100%;
	header{
		height: .44rem;
		background: $base-color;
		ul{
			@include flexbox();
			li{
				text-align: center;
				line-height: .44rem;
				font-size:.18rem;
				color:#fff;
				&:first-child,
				&:last-child{
				width: .44rem;
				}
			&:nth-child(2){
				@include flex();
				text-align: center;
			}	
			}
			
			
	}
}
	section{
		@include flex();
		width: 100%;
		background: pink;
		overflow-y:scroll; 

	}
}
